/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;
@use './styles/common';

@include mat.core(common.$workshop-typography);
@include mat.strong-focus-indicators(
    (
      border-style: dotted,
      border-width: 4px,
      border-radius: 4px
    )
);
@include mat.typography-hierarchy(common.$workshop-typography, "body");

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
}

//.light-theme {
//  @include create-theme(light.$workshop-theme);
//}
//
//.dark-theme {
//  @include create-theme(dark.$workshop-theme);
//}
